
@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ReviewsSite.Models.VideoGame>

<div class="text-center">
    <h1 class="display-4">Welcome to Our Page</h1>
</div>
<div>
    <a href="~/Views/Platform/Index.cshtml">Platforms</a>
    <a href="~/Views/VideoGame/Index.cshtml">Video Games</a>
    <a href="~/Views/Review/Index.cshtml">Reviews</a>
</div>

<body>
    <ul>
        @* for each video game user should be able to add a game, write/rate a reivew, remove a game, *@
        @foreach (var game in Model)
        {
            <li>@game.Name  <a href="/Home/Create">Add</a></li>
        }
    </ul>
</body>


